{% extends "base.html.twig" %}

{% block title %}Ingrid's page{% endblock %}

{% block body %}
    <h1>Here is your deck</h1>

    <div class="cards">
    <ul>
        {% for card in deck %}
            
            {{ card }}
            
        {% endfor %}
    </ul>
    </div>



   
{% endblock %}

