{% extends "base.html.twig" %}

{% block title %}Ingrid's page{% endblock %}

{% block body %}
    <h1>You have drawn the following card:</h1>
    <div class="cards">
    {{ drawnPrint }}
    </div>
    <p> Cards remaining: </p>
    {{ remCards }}
{% endblock %}