{% extends "base.html.twig" %}

{% block title %}Ingrid's page{% endblock %}

{% block body %}
    <h1>Here is your hand</h1>

    <ul>

    {% for card in hand %}
        
        {{ card }}
        
    {% endfor %}
    </ul>


   
{% endblock %}

