{% extends "base.html.twig" %}

{% block title %}Ingrid's game{% endblock %}

{% block body %}
    <h1>Ingrid's game</h1>
    <h2> The rules <h2>

    <a href="{{ path('game_play') }}">Start game</a>


{% endblock %}

