{% extends "base.html.twig" %}

{% block title %}Ingrid's game{% endblock %}

{% block body %}
    <h1>Ingrid's game</h1>
    <h2> The rules </h2>
    <p>
      The rules of the game are simple. Try to get as close to 21 points as possible without going over.
      If you go over, get less than the computer or get equal score to the computer you loose. 
      Every turn you choose to either draw a card or decide that you're done. 

    </p>

    <a href="{{ path('game_play') }}">Start game</a>

    <h2> Game documentation </h2>
    <p> You can find the documentation here:</p>
    <a href="{{ path('gamedoc') }}">Documentation</a>


{% endblock %}

