{% extends "base.html.twig" %}

{% block title %}Ingrid's page{% endblock %}

{% block body %}
    <h1>Ingrid's page</h1>
    <p> Hi, I'm Ingrid and I live in Uppsala. I like grammar, programming 
        a little bit of math and on my free time I like to quiz and bake. 
    <p>
	<img src= "{{ asset('img/cake.jpg') }}" alt="picture of cake" width='250'>
    <div class=card>
        &#127185
    </div>
{% endblock %}

