{% extends "base.html.twig" %}

{% block title %}Ingrid's page{% endblock %}

{% block body %}

<h1> This is the session page  <a href="{{ path('session_delete') }}">Delete Session</a> </h1>

        {% for inf in info %}
        <ul>
        <li> {{ inf }} </li>
        </ul>
        {% endfor %}


{% for flashMessage in app.session.flashbag.get('warning') %}
    
    {{ flashMessage }} 

{% endfor %}

{% endblock %}
