{% extends "base.html.twig" %}

{% block title %}Ingrid's page{% endblock %}

{% block body %}

<p> This is the session page </p>

        {% for card in deck %}
            {{ card }}
        {% endfor %}

    

{% endblock %}
