{% extends "/project/proj_base.html.twig" %}

{% block title %}Ingrid's game{% endblock %}

{% block body %}

<h1> Om game </h1>

<p>
    Spelet går ut på att hitta kakan som gömmer sig inne i huset. Navigera mellan de olika rummen
    medan du samlar på dig saker i din ryggsäck allt i väntan på den goda kakan. Bekämpa trollet som vaktar
    kakan, läs en bok eller två och kanske ät ett äpple på vägen. 
</p>



{% endblock %}