{% extends "/project/proj_base.html.twig" %}

{% block title %}Ingrid's game{% endblock %}

{% block body %}

<h1> Fusk kod </h1>

<h2> Snabb vinst </h2>
<p>
    Hur du snabbast vinner spelet utan att gå genom alla rum. 
    Plocka upp ett äpple i entrén och ät det. Gå till hallen, skriv "fantastic" i komplimang-rutan och klicka ok.
    klicka på öppna knappen för att öppna kistan och du har vunnit spelet. 
</p>

<h2> Spelgenomgång av alla rummen</h2>

<h3> Entrén </h3>
Plocka upp äpplet (fösöker du igen så ser du att det inte går, i meddelande rutan).
Du kan äta äpplet och få en nyckel, försöka läsa eller ge bort äpplet men det går inte. 

<h3>Biblioteket</h3>

<p>
    Plocka upp de två böckerna, du kan läsa dem och få information (en exempel komplimang och att trollet kommer 
    äta allt du ger det.) Du kan försöka äta eller ge bort böckerna men det kommer inte gå. 
</p>

<h3>Vardagsrummet</h3>
<p>
    Här kan du plocka upp en lapp som förklarar att komplimanger måste innehålla ordet fantastiskt. 
    Du kan försöka äta eller ge bort lappen men det går inte.
</p>

<h3>Hallen</h3>
<p>
    Här kan du ge trollet en komplimang eller ge den något att äta. Trollet kommer att äta vad du än ger det
    och äter det ett äpple kommer det äta upp nyckeln som finns innuti också. Det är bara om du skriver in en
    komplimang som innehåller fantastic som du kommer vidare till det hemliga rummet. 
</p>

<h3>Hemliga rummet</h3>
<p>
    Här hittar du en låst kista, du måste ha nyckeln i ryggsäcken för att kunna öppna den. 
    När du öppnar kistan hittar du kakan och vinner spelet. 
</p>

{% endblock %}