{% extends "/project/proj_base.html.twig" %}

{% block title %}Ingrid's game{% endblock %}

{% block body %}
<h1> The quest for cake <h1>


<div><a href="{{ path('ent') }}">Start game</a></div>


{% endblock %}
